In [1]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /home/rashi/anaconda3/lib/python3.7/site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in /home/rashi/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /home/rashi/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /home/rashi/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /home/rashi/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (1.14.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import accuracy

In [3]:
items=pd.read_csv('prep_items_202303291533.csv')

In [4]:
items.item_name =items.item_name.str.rstrip()

In [5]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10142 entries, 0 to 10141
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10142 non-null  int64
 1   item_id              0 non-null      float64
 2   tax_code             0 non-null      float64
 3   is_deleted           0 non-null      float64
 4   tenant_id            0 non-null      float64
 5   provider_id          0 non-null      float64
 6   catalog_id           0 non-null      float64
 7   is_availabe          0 non-null      float64
 8   dwh_updated_at       0 non-null      float64
 9   _id                  10142 non-null  object
 10  description_summary  10142 non-null  object
 11  provider             10142 non-null  object
 12  discount             3597 non-null   float64
 13  discountpercent      4830 non-null   object
 14  dealprice            8773 non-null   object
 15  price                10139 non-null  float64
 16  images               10142 non-null  object
 17  catalogid            10142 non-null  object
 18  producttype          10141 non-null  object
 19  type                 10142 non-null  object
 20  issellable           10138 non-null  object
 21  sellercontact        5424 non-null   object
 22  quantity             6860 non-null   object
 23  isdeleted            10142 non-null  bool
 24  tenant               10142 non-null  object
 25  avgrating            10142 non-null  int64
 26  providername         10142 non-null  object
 27  isoffline            10142 non-null  bool
 28  variations           4204 non-null   object
 29  category             10142 non-null  object
 30  market               10142 non-null  object
 31  slug                 9907 non-null   object
 32  integer_attributes   10142 non-null  object
 33  stockcount           0 non-null      float64
 34  createdat            10142 non-null  object
 35  updatedat            10142 non-null  object
 36  item_name            10142 non-null  object
dtypes: bool(2), float64(11), int64(2), object(22)
memory usage: 2.7+ MB

In [6]:
items.item_name.value_counts()

Name                                              489
CAIRON WHITE SATIN SOLID CLUBWEAR SHIRT            50
CAIRON GREY SATIN SOLID CLUBWEAR SHIRT             48
CAIRON RED CHECK CASUAL SHIRT                      37
Bigen B103 Men's Beard Haircolor                   35
                                                 ...
Lipton Green Tea Bags Honey Lemon, 10 N             1
Tetley Green Tea Bag Ginger, Mint Lemon, 25 N       1
Lipton Lemon Honey Green Tea Bags Sachet, 25 N      1
Lipton Green Tea 100 g                              1
Diamond mirshi 100g                                 1
Name: item_name, Length: 3796, dtype: int64

In [7]:
order=pd.read_csv('prep_orderitem_dummy_202303291450.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'prep_orderitem_dummy_202303291450.csv'

In [ ]:
customer=pd.read_csv('prep_customers_address_202304031410.csv')

In [ ]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11604 entries, 0 to 11603
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          11604 non-null  object
 1   customerno   11604 non-null  object
 2   tenant       11604 non-null  object
 3   address_id   11604 non-null  object
 4   isdefault    11604 non-null  bool
 5   latitude     0 non-null      float64
 6   longitude    0 non-null      float64
 7   type         11604 non-null  object
 8   city         11604 non-null  object
 9   country      11604 non-null  object
 10  housenumber  11602 non-null  object
 11  state        11604 non-null  object
 12  street1      11603 non-null  object
 13  street2      11604 non-null  object
 14  zip          11604 non-null  object
 15  category     11604 non-null  object
 16  fullname     11604 non-null  object
 17  gender       11604 non-null  object
 18  age          11604 non-null  int64
dtypes: bool(1), float64(2), int64(1), object(15)
memory usage: 1.6+ MB

In [ ]:
customer.state.value_counts()

Telangana          6884
Andhra Pradesh     3354
West Bengal         202
Karnataka           132
Gujarat              15
Rajasthan             3
ODISHA                1
Telagna               1
Andhara Pradesh       1
Name: state, dtype: int64

In [ ]:
customer.state=customer.state.str.rstrip()

In [ ]:
customer.state=customer.state.map({'Telangana':'Telangana','Telagna':'Telagna','West Bengal':'West Bengal','Karnataka':'Karnataka',
                                       'Andhra Pradesh':'Andhra Pradesh','Gujarat':'Gujarat','ODISHA':'ODISHA',
                                   'ANDHRA Pradesh':'Andhra Pradesh','Andhrapradesh':'Andhra Pradesh',
                                   'Avadi': 'Andhara Pradesh','Telanganana':'Telangana','Rajasthan':'Rajasthan'})

In [ ]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_id     10000 non-null  object
 1   customerid  9892 non-null   object
 2   serialno    10000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [ ]:
df_merged =items.merge(order,how='left',left_on='_id',right_on='item_id',suffixes=('', '_drop'))
df_merged.drop([col for col in df_merged.columns if 'drop' in col], axis=1, inplace=True)

In [ ]:
df_merged.market=df_merged.market.map({'Clothes & Fashion':'Clothes & Fashion','Grocery':'Grocery','Food & Restaurants':'Food & Restaurants',
                                       'Clothes  & Fashion':'Clothes & Fashion','Electronics':'Electronics',
                                   'Office & Stationary':'Office & Stationary','Office & Stationery':'Office & Stationary',
                                   'Home Improvement': 'Home Improvement','Virtual assets & Real Estate':'Virtual assets & Real Estate',
                                   'virtual assets & Real Estate':'Virtual assets & Real Estate','Fruits & Vegetables':'Fruits & Vegetables','Health Care':'Health Care'})

In [ ]:
df_merged.to_csv('df_merged.csv')

In [ ]:
df_merged.shape

(10142, 39)

In [ ]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10142 entries, 0 to 10141
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10142 non-null  int64
 1   item_id              0 non-null      float64
 2   tax_code             0 non-null      float64
 3   is_deleted           0 non-null      float64
 4   tenant_id            0 non-null      float64
 5   provider_id          0 non-null      float64
 6   catalog_id           0 non-null      float64
 7   is_availabe          0 non-null      float64
 8   dwh_updated_at       0 non-null      float64
 9   _id                  10142 non-null  object
 10  description_summary  10142 non-null  object
 11  provider             10142 non-null  object
 12  discount             3597 non-null   float64
 13  discountpercent      4830 non-null   object
 14  dealprice            8773 non-null   object
 15  price                10139 non-null  float64
 16  images               10142 non-null  object
 17  catalogid            10142 non-null  object
 18  producttype          10141 non-null  object
 19  type                 10142 non-null  object
 20  issellable           10138 non-null  object
 21  sellercontact        5424 non-null   object
 22  quantity             6860 non-null   object
 23  isdeleted            10142 non-null  bool
 24  tenant               10142 non-null  object
 25  avgrating            10142 non-null  int64
 26  providername         10142 non-null  object
 27  isoffline            10142 non-null  bool
 28  variations           4204 non-null   object
 29  category             10142 non-null  object
 30  market               10142 non-null  object
 31  slug                 9907 non-null   object
 32  integer_attributes   10142 non-null  object
 33  stockcount           0 non-null      float64
 34  createdat            10142 non-null  object
 35  updatedat            10142 non-null  object
 36  item_name            10142 non-null  object
 37  customerid           9816 non-null   object
 38  serialno             9924 non-null   float64
dtypes: bool(2), float64(12), int64(2), object(23)
memory usage: 3.0+ MB

In [ ]:
data_merged =df_merged.merge(customer,how='left',left_on='customerid',right_on='_id',suffixes=('', '_drop'))
data_merged.drop([col for col in df_merged.columns if 'drop' in col], axis=1, inplace=True)

In [ ]:
data_merged.shape

(11895, 58)

In [ ]:
dict(data_merged.market.value_counts())

{'Clothes & Fashion': 7165,
 'Grocery': 2953,
 'Food & Restaurants': 1017,
 'Office & Stationary': 381,
 'Electronics': 336,
 'Home Improvement': 26,
 'Virtual assets & Real Estate': 15,
 'Fruits & Vegetables': 1,
 'Health Care': 1}

In [ ]:
data_merged.to_csv('data_merged.csv')

In [ ]:
final_df=data_merged[['customerid','id','avgrating']]

In [ ]:
final_df.head()

                 customerid    id  avgrating
0  628cb023c3ccbfbb1d5f410e     1          1
1  633ac3aff0f1d2a7c6a29f5a  7399          1
2  630718b7cf57702ea522b0cb   754          4
3  63419766f0f1d24d99a34f54  7400          4
4  62dbd5ce9670f2007f7cce70   809          3

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11895 entries, 0 to 11894
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  11569 non-null  object
 1   id          11895 non-null  int64
 2   avgrating   11895 non-null  int64
dtypes: int64(2), object(1)
memory usage: 371.7+ KB

In [ ]:
final_df=final_df.dropna(subset=['customerid'])

In [ ]:
# label_encoder = preprocessing.LabelEncoder()
# final_df['customerid']= label_encoder.fit_transform(final_df['customerid'])

In [ ]:
final_df.to_csv('final_df.csv')

## Total number of customer, items and ratings

In [ ]:
print("Total no of ratings :",final_df.shape[0])
print("No. of unique customers:", final_df["customerid"].nunique())
print("No. of unique items:", final_df["id"].nunique())

Total no of ratings : 11569
No. of unique customers: 2388
No. of unique items: 9816

## Distribution of ratings

In [ ]:
final_df.avgrating.value_counts()

1    2372
2    2361
4    2337
3    2299
5    2200
Name: avgrating, dtype: int64

#  Ratings per user

In [ ]:
ratings_per_user = final_df.groupby(by='customerid')['avgrating'].count()
ratings_per_user.describe()

count    2388.000000
mean        4.844640
std        18.560868
min         1.000000
25%         1.000000
50%         2.000000
75%         4.000000
max       635.000000
Name: avgrating, dtype: float64

## Ratings per items

In [ ]:
final_df.customerid.value_counts()

62d7e395ec76434350c3b45c    635
633434892288e00638e17613    361
62b7faa283be59b149130ba3    238
62dbd8ab9670f2007f7d3eef    180
63353e88f0f1d27889a1f733    154
                           ...
633320ca2288e0a136e1420d      1
62eb65a1a636f0a43d62194a      1
62dbd7149670f2007f7d018e      1
62dd470dec7643856cc3ca14      1
634d0bb9c4fba05c88231703      1
Name: customerid, Length: 2388, dtype: int64

In [ ]:
ratings_per_item = final_df.groupby(by='id')['avgrating'].count()
ratings_per_item.describe()

count    9816.000000
mean        1.178586
std         1.232930
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        72.000000
Name: avgrating, dtype: float64

# Loading as Surprise dataframe and train-test split

In [ ]:
reader = Reader()
ratings = Dataset.load_from_df(final_df[['customerid', 'id', 'avgrating']], reader)

In [ ]:
train_ratings, test_ratings = train_test_split(ratings, test_size=.20, random_state = 42)
print("Size of trainset: ", train_ratings.n_ratings)
print("Size of testset: ", len(test_ratings))

Size of trainset:  9255
Size of testset:  2314

In [ ]:
#from surprise import BaselineOnly

In [ ]:
# baseline_model = BaselineOnly(verbose = False)
# baseline_model.fit(train_ratings)

In [ ]:
# train_predictions = baseline_model.test(train_ratings.build_testset())
# test_predictions = baseline_model.test(test_ratings)
# print("RMSE on training data : ", accuracy.rmse(train_predictions,verbose = False))
# print("RMSE on test data: ", accuracy.rmse(test_predictions,verbose = False))

RMSE on training data :  1.1973073332039819
RMSE on test data:  1.3675671978367903

In [ ]:
# df_merged.loc[df_merged.customerid=='63d102996fee010ba791308c'].item_name.value_counts().sum()

18

In [ ]:
#rating = Dataset.load_from_df(a, reader)

In [ ]:
#item_ratings = train_test_split(rating, random_state = 42)

NameError: ignored

In [ ]:
from surprise import SVD

In [ ]:
svd_model = SVD(random_state = 42)
svd_model.fit(train_ratings)

In [ ]:
train_predictions = svd_model.test(train_ratings.build_testset())
test_predictions = svd_model.test(test_ratings)
print("RMSE on training data : ", accuracy.rmse(train_predictions, verbose = False))
print("RMSE on test data: ", accuracy.rmse(test_predictions, verbose = False))

RMSE on training data :  0.8738979704330262
RMSE on test data:  1.3076715202890457

In [ ]:
import pickle

# Load saved model from pickle file
with open('model/svd_model.pkl', 'wb') as f:
    pickle.dump(svd_model, f)

In [ ]:
item_predictions = svd_model.test(train_ratings.build_testset())

In [ ]:
def get_top_n_recommendations(customerid,predictions, n=11569):
    predict_ratings = {}
    # loop for getting predictions for the user
    for uid, iid, true_r, est, _ in predictions:
        if (uid==customerid):
            predict_ratings[iid] = est
    predict_ratings = sorted(predict_ratings.items(), key=lambda kv: kv[1],reverse=True)[:n]
    top_items = [i[0] for i in predict_ratings]
    # print(top_items)
    # top_items = [str(i) for i in top_items]
    # print("="*10,"Recommended movies for user {} :".format(customerid),"="*10)
    # print(df_merged[df_merged["id"].isin(top_items)]["item_name"].to_string(index=False))
    return data_merged[data_merged["id"].isin(top_items)][["item_name","market","price","avgrating",'id','images','dealprice','type','discount','discountpercent','state']].sort_values(by=['avgrating'],ascending=False)
get_top_n_recommendations('633434892288e00638e17613',item_predictions).head()

,item_name,market,price,avgrating,id,images,dealprice,type,discount,discountpercent,state
3038,Abhisarika Fabulous Grey Women Kurta Sets,Clothes & Fashion,1899.0,5,2500,https://teka-prod.s3.amazonaws.com/images/sell...,1709.1,PRODUCT,NaN,10,Telangana
847,Coffee,Food & Restaurants,80.0,5,1680,https://teka-prod.s3.amazonaws.com/images/sell...,NaN,PRODUCT,NaN,NaN,Telangana
3135,Lime Glycerin Soap 100 Gms,Grocery,95.0,5,2732,https://teka-prod.s3.amazonaws.com/images/sell...,NaN,PRODUCT,NaN,NaN,Telangana
980,Tie White Satin Skinny Tie,Clothes & Fashion,299.0,5,656,https://teka-prod.s3.amazonaws.com/images/sell...,293,PRODUCT,6.0,NaN,Telangana
3110,Adrika Graceful Black Women Kurta Sets,Clothes & Fashion,1799.0,5,2561,https://teka-prod.s3.amazonaws.com/images/sell...,1619.1,PRODUCT,NaN,10,Telangana

## New user recommendation

In [ ]:
# new_user_id = 'new_user'
new_user = [('new_user',7399, 4), ('new_user',754, 5), ('new_user',7400, 3)]

new_user_predictions = baseline_model.test(new_user)

In [ ]:
get_top_n_recommendations('new_user',new_user_predictions)

      item_name              market  price  avgrating      state
2         Jeera             Grocery    1.0          4  Telangana
3          Roti  Food & Restaurants   35.0          4        NaN
1  WingsBiryani  Food & Restaurants  339.0          1        NaN

## Trending items

In [ ]:
from collections import defaultdict

In [ ]:
# item_popularity = defaultdict(int)
# for user, item, rating in train_ratings.all_ratings():
#     item_popularity[item] += 1

# # Get the top-N trending items
# n = 10 # number of items to recommend
# top_n = sorted(item_popularity.items(), key=lambda x: -x[1])[:n]

# # Print the top-N trending items
# print('Top-N trending items:')
# for item_id, _ in top_n:
#     print(df_merged.loc[df_merged.id==item_id].item_name)

In [ ]:
data=get_top_n_recommendations('62d7e395ec76434350c3b45c',item_predictions)

In [ ]:
def user_location(area):
  g=data.groupby(['state'])
  data_state=g.get_group(area)
  return data_state

In [ ]:
user_location('Telangana')

,item_name,market,price,avgrating,id,images,dealprice,type,discount,discountpercent,state
4844,Purple Softwear Plain Shrug,Clothes & Fashion,499.0,5,3956,https://teka-prod.s3.amazonaws.com/images/sell...,449.1,PRODUCT,NaN,10,Telangana
9207,Cotton Handkerchief For Men - Pack Of 12,Clothes & Fashion,2299.0,5,7655,https://teka-prod.s3.amazonaws.com/images/sell...,2253,PRODUCT,46.0,NaN,Telangana
9208,Cotton Handkerchief For Men - Pack Of 12,Clothes & Fashion,2299.0,5,7655,https://teka-prod.s3.amazonaws.com/images/sell...,2253,PRODUCT,46.0,NaN,Telangana
7662,CAIRON MAROON STRIPE CASUAL SHIRT,Clothes & Fashion,1155.0,5,6303,https://teka-prod.s3.amazonaws.com/images/sell...,1039.5,PRODUCT,NaN,10,Telangana
7661,CAIRON MAROON STRIPE CASUAL SHIRT,Clothes & Fashion,1155.0,5,6303,https://teka-prod.s3.amazonaws.com/images/sell...,1039.5,PRODUCT,NaN,10,Telangana
...,...,...,...,...,...,...,...,...,...,...,...
8185,Dabur Vatika Smooth & Silky Hair Shampoo 16 N ...,Grocery,16.0,1,6802,https://teka-prod.s3.amazonaws.com/images/sell...,14.22,PRODUCT,NaN,11.11,Telangana
8184,Dabur Vatika Smooth & Silky Hair Shampoo 16 N ...,Grocery,16.0,1,6802,https://teka-prod.s3.amazonaws.com/images/sell...,14.22,PRODUCT,NaN,11.11,Telangana
8181,Dabur Vatika Smooth & Silky Hair Shampoo 16 N ...,Grocery,16.0,1,6802,https://teka-prod.s3.amazonaws.com/images/sell...,14.22,PRODUCT,NaN,11.11,Telangana
5004,Latest Red Harem Pant (Premium,Clothes & Fashion,1389.0,1,4061,https://teka-prod.s3.amazonaws.com/images/sell...,1250.1,PRODUCT,NaN,10,Telangana
5495,Name,Clothes & Fashion,1500.0,1,4446,https://teka-prod.s3.amazonaws.com/images/sell...,1350,PRODUCT,NaN,10,Telangana

In [ ]:
g=data.groupby(['state'])

In [ ]:
g.get_group('Telangana')

,item_name,market,price,avgrating,id,images,dealprice,type,discount,discountpercent,state
4844,Purple Softwear Plain Shrug,Clothes & Fashion,499.0,5,3956,https://teka-prod.s3.amazonaws.com/images/sell...,449.1,PRODUCT,NaN,10,Telangana
9207,Cotton Handkerchief For Men - Pack Of 12,Clothes & Fashion,2299.0,5,7655,https://teka-prod.s3.amazonaws.com/images/sell...,2253,PRODUCT,46.0,NaN,Telangana
9208,Cotton Handkerchief For Men - Pack Of 12,Clothes & Fashion,2299.0,5,7655,https://teka-prod.s3.amazonaws.com/images/sell...,2253,PRODUCT,46.0,NaN,Telangana
7662,CAIRON MAROON STRIPE CASUAL SHIRT,Clothes & Fashion,1155.0,5,6303,https://teka-prod.s3.amazonaws.com/images/sell...,1039.5,PRODUCT,NaN,10,Telangana
7661,CAIRON MAROON STRIPE CASUAL SHIRT,Clothes & Fashion,1155.0,5,6303,https://teka-prod.s3.amazonaws.com/images/sell...,1039.5,PRODUCT,NaN,10,Telangana
...,...,...,...,...,...,...,...,...,...,...,...
8185,Dabur Vatika Smooth & Silky Hair Shampoo 16 N ...,Grocery,16.0,1,6802,https://teka-prod.s3.amazonaws.com/images/sell...,14.22,PRODUCT,NaN,11.11,Telangana
8184,Dabur Vatika Smooth & Silky Hair Shampoo 16 N ...,Grocery,16.0,1,6802,https://teka-prod.s3.amazonaws.com/images/sell...,14.22,PRODUCT,NaN,11.11,Telangana
8181,Dabur Vatika Smooth & Silky Hair Shampoo 16 N ...,Grocery,16.0,1,6802,https://teka-prod.s3.amazonaws.com/images/sell...,14.22,PRODUCT,NaN,11.11,Telangana
5004,Latest Red Harem Pant (Premium,Clothes & Fashion,1389.0,1,4061,https://teka-prod.s3.amazonaws.com/images/sell...,1250.1,PRODUCT,NaN,10,Telangana
5495,Name,Clothes & Fashion,1500.0,1,4446,https://teka-prod.s3.amazonaws.com/images/sell...,1350,PRODUCT,NaN,10,Telangana

In [ ]:
g1=data.groupby(['market'])

In [ ]:
def best_pick(state,item):
  data_state=g.get_group(state)
  g1=data_state.groupby(['market'])
  df_item=g1.get_group(item)
  final_item=df_item[['avgrating','item_name','price',]]
  best_pick_item=final_item.sort_values(by='avgrating',ascending=False)
  best_pick_item.drop_duplicates('item_name',inplace=True)
  return best_pick_item.head()

In [ ]:
# def best_pick(item):
#   df_item=g1.get_group(item)
#   final_item=df_item[['avgrating','item_name','price',]]
#   best_pick_item=final_item.sort_values(by='avgrating',ascending=False)
#   best_pick_item.drop_duplicates('item_name',inplace=True)
#   return best_pick_item.head()

In [ ]:
best_pick('Telangana','Clothes & Fashion')

      avgrating                                          item_name   price
4844          5                        Purple Softwear Plain Shrug   499.0
8073          5     CAIRON BROWN SOLID OXFORD PREMIUM FORMAL SHIRT  1592.0
4330          5  Brown Flower Applique Buttoned Placket Woolen ...  1699.0
9507          5   Black Micro Fiber Polka Dots Broad Necktie - ...   799.0
5701          5     Contrasting Slit Pencil Skirt and Crop Top set  2655.0

In [ ]:
#from surprise.model_selection import GridSearchCV,RandomizedSearchCV

In [ ]:
# param_distributions  = {'n_factors': list(range(50,160,10)),'reg_all': np.arange(0.02,0.1),'n_epochs' : list(range(1,51))}
# rs = GridSearchCV(SVD, param_distributions, measures=['rmse'], return_train_measures = True, cv = 5)
# rs.fit(ratings)
# rs.best_params['rmse']

{'n_factors': 150, 'reg_all': 0.02, 'n_epochs': 50}

In [ ]:
# tuned_svd_model = SVD(n_factors=130, reg_all =0.1, n_epochs = 50, random_state = 42,verbose = False)
# tuned_svd_model.fit(train_ratings)
# train_predictions = tuned_svd_model.test(train_ratings.build_testset())
# test_predictions = tuned_svd_model.test(test_ratings)
# print("RMSE on training data : ", accuracy.rmse(train_predictions, verbose = False))
# print("RMSE on test data: ", accuracy.rmse(test_predictions, verbose = False))

RMSE on training data :  0.45180141635725146
RMSE on test data:  1.287761933127254

In [ ]:
# final_df.iloc[0:1000].head()

                 customerid    id  avgrating
0  628cb023c3ccbfbb1d5f410e     1          1
1  633ac3aff0f1d2a7c6a29f5a  7399          1
2  630718b7cf57702ea522b0cb   754          4
3  63419766f0f1d24d99a34f54  7400          4
4  62dbd5ce9670f2007f7cce70   809          3